In [5]:
 # Dependencies
import requests
import json
import pandas as pd

# Google developer API key
from config_maps import gkey

In [8]:
# #Base de Longuitud y Latitud
# latlng_pd = pd.read_csv("coordenadas (1).csv")
# latlng_pd.head()
# #latlng_pd['Number of near Businesses']=''
# latlng_pd.columns=['Indice','CVE_ENT','CVE_MUN','CVE_AGEB','lat','lon']#,'Number of near Businesses'
# del latlng_pd['Indice']
# latlng_pd=latlng_pd.iloc[0:10,:]
# latlng_pd['CVE_AGEB'] = latlng_pd['CVE_AGEB'].str.zfill(4)
# latlng_pd

#Base de Longuitud y Latitud
latlng_pd = pd.read_csv("coordenadas (1).csv")
latlng_pd.columns
latlng_pd=latlng_pd.iloc[11:21,1:10]
#latlng_pd['CVE_AGEB'] = latlng_pd['CVE_AGEB'].str.zfill(4)
latlng_pd

    CVE_ENT  CVE_MUN  CVE_LOC CVE_AGEB        lat        lon
11        9        2        1     1165 -99.165181  19.501634
12        9        2        1     1042 -99.206959  19.474479
13        9        2        1     0665 -99.193135  19.474242
14        9        2        1     0010 -99.205966  19.513012
15        9        2        1     0025 -99.200609  19.512498
16        9        2        1     003A -99.207900  19.509967
17        9        2        1     1150 -99.174895  19.503295
18        9        2        1     1023 -99.194431  19.480577
19        9        2        1     0684 -99.187410  19.468309
20        9        2        1     0913 -99.194231  19.510778

In [9]:
target_search=input("What you want to search: ")
target_type=input("What is your business type: ")

What you want to search: tacos
What is your business type: restaurant

In [14]:

# geocoordinates
target_coordinates = ""#19.2762739, -99.1362978"
target_radius = 800


# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
#response = requests.get(base_url, params=params)

In [15]:
# convert response to json
#places_data = response.json()
#len(places_data['results'])
# Print the json (pretty printed)
#print(json.dumps(places_data, indent=4, sort_keys=True))

In [16]:
for index, row in latlng_pd.iterrows():
    # get lat, lng from df
    lat = row["lat"]
    lng = row["lon"]
    # change location each iteration while leaving original params in place
    params["location"] = f"{lng},{lat}"
    # make request and print url
    response = requests.get(base_url, params=params)
    places_data = response.json()
    latlng_pd.loc[index, "Number of near Business"] = len(places_data["results"])

In [19]:
# Print the name and address of the first restaurant that appears
#print(len(name_address["results"]))
#print(name_address["results"][2]["name"])

latlng_pd

,CVE_ENT,CVE_MUN,CVE_LOC,CVE_AGEB,lat,lon,Number of near Business
11,9,2,1,1165,-99.165181,19.501634,12.0
12,9,2,1,1042,-99.206959,19.474479,17.0
13,9,2,1,0665,-99.193135,19.474242,20.0
14,9,2,1,0010,-99.205966,19.513012,20.0
15,9,2,1,0025,-99.200609,19.512498,20.0
16,9,2,1,003A,-99.207900,19.509967,20.0
17,9,2,1,1150,-99.174895,19.503295,17.0
18,9,2,1,1023,-99.194431,19.480577,20.0
19,9,2,1,0684,-99.187410,19.468309,20.0
20,9,2,1,0913,-99.194231,19.510778,15.0