In [42]:
 # Dependencies
import requests
import json
import pandas as pd

# Google developer API key
from config_maps import gkey

In [45]:
#Base de Longuitud y Latitud
latlng_pd = pd.read_csv("coordenadas.csv")
latlng_pd.head()
#latlng_pd['Number of near Businesses']=''
latlng_pd.columns=['Indice','CVE_ENT','CVE_MUN','CVE_AGEB','lat','lon']#,'Number of near Businesses'
del latlng_pd['Indice']
latlng_pd=latlng_pd.iloc[0:10,:]
latlng_pd['CVE_AGEB'] = latlng_pd['CVE_AGEB'].str.zfill(4)
latlng_pd

   CVE_ENT  CVE_MUN CVE_AGEB         lat        lon
0       15       28     0084  -98.880732  19.578782
1       15       99     0419  -98.836034  19.505753
2       15       16     0100  -98.782854  19.849349
3       15       71     0051  -99.865836  20.245774
4       15       36     0118  -98.988608  19.910137
5       15       84     0079  -98.870522  19.857234
6       15       10     0041  -99.144839  19.986299
7       15      120     0166  -99.012017  19.795416
8        9       12     1250  -99.204203  19.138157
9       15      114     014A -100.039309  19.516177

In [36]:
target_search=input("What you want to search: ")
target_type=input("What is your business type: ")

What you want to search: tacos
What is your business type: restaurant

In [37]:

# geocoordinates
target_coordinates = ""#19.2762739, -99.1362978"
target_radius = 3000


# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
#response = requests.get(base_url, params=params)

In [38]:
# convert response to json
#places_data = response.json()
#len(places_data['results'])
# Print the json (pretty printed)
#print(json.dumps(places_data, indent=4, sort_keys=True))

In [39]:
for index, row in latlng_pd.iterrows():
    # get lat, lng from df
    lat = row["lat"]
    lng = row["lon"]
    # change location each iteration while leaving original params in place
    params["location"] = f"{lng},{lat}"
    # make request and print url
    response = requests.get(base_url, params=params)
    places_data = response.json()
    latlng_pd.loc[index, "Number of near Business"] = len(places_data["results"])

In [40]:
# Print the name and address of the first restaurant that appears
#print(len(name_address["results"]))
#print(name_address["results"][2]["name"])

latlng_pd

   CVE_ENT  CVE_MUN CVE_AGEB         lat        lon  Number of near Business
0       15       28       84  -98.880732  19.578782                     19.0
1       15       99      419  -98.836034  19.505753                      4.0
2       15       16      100  -98.782854  19.849349                      0.0
3       15       71       51  -99.865836  20.245774                      1.0
4       15       36      118  -98.988608  19.910137                      1.0
5       15       84       79  -98.870522  19.857234                      0.0
6       15       10       41  -99.144839  19.986299                      3.0
7       15      120      166  -99.012017  19.795416                     16.0
8        9       12     1250  -99.204203  19.138157                      0.0
9       15      114     014A -100.039309  19.516177                      0.0